* {
    background-color: rgba(19, 113, 150, 0.384);
}  

#title {
    color: red;
    text-align: center;
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#welcome {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
}

#welcome:hover {
    color: purple;
    cursor: default;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 152vh;
    line-height: 1;
    border: 3px solid yellowgreen;
    overflow-y: auto;
    overflow-x: auto;
}

.flex-container * {
    border-radius: 55%;
    width: 5rem;
    margin-bottom: auto;
    margin-top: auto;
}
