* {
    background-color: rgba(25, 41, 184, 0.384);
}  

#welcome {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
}

#welcome:hover {
    color: purple;
    cursor: default;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 99vh;
    line-height: 1;
    border: 5px solid yellowgreen;
    overflow-y: auto;
    overflow-x: auto;
}

.flex-container * {
    border-radius: 55%;
    display: sticky;
    width: 5rem;
    margin-bottom: auto;
    margin-top: auto;
}

